<div class="block-news">
    <div class="news">
        <div class="title">Title</div>
        <div class="text">Text</div>
        <div class="date">Date</div>
    </div>
</div>

<style>
    .block-news {
        margin: 0 auto;
        max-width: 980px;
        display: flex;
    }
    .news {
        width: 320px;
        height: 225px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        margin: 0 0 0 10px;
        padding: 0 10px 20px 10px;
        overflow: hidden;
    }
    .title {
        height: 13px;
        text-align: center;
        padding: 9px 10px 15px 10px;
        color: #58aaff;
        font-family: "Segoe UI - Semibold";
        font-size: 16px;
        font-weight: 400;
    }
    .text {
        height: 190px;
        color: #000000;
        font-family: "Segoe UI";
        font-size: 14px;
        font-weight: 300;
        overflow: hidden;
    }
    .date {
        padding: 0 10px 0 0;
        width: 41px;
        height: 7px;
        float: right;
        color: #000000;
        font-family: "Segoe UI";
        font-size: 10px;
        font-weight: 300;
    }

</style>